.proj {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .proj .demo {
    display: flex;
    justify-content: end;
    width: 30%;
  }
  
  .proj video {
    width: 100%;
    height: 480px;
  }
  
  .proj article {
    margin: 10px 0;
  }
  
  .proj p {
    text-align: justify;
    width: 80%;
    margin: 10px 0;
  }
  
  .proj h2 {
    font-size: 40px;
    font-family: Designer;
    color: #EDF4FF;
  }
  
  .proj ul li {
    margin: 0 40px;
    color: #EDF4FF;
  }
  
  .logo {
    display: grid;
    justify-items: center;
    width: 100%;
  }
  
  .logo .logo-project {
    margin: 20px 0;
  }
  
  .sobre-projeto {
    width: 70%;
  }
  
  .tecnologias {
    width: 70%;
  }
  
  .links {
    width: 30%;
    display: grid;
    gap: 10px;
  }
  
  .links a {
    font-family: Comfortaa-Light;
    color: #EDF4FF;
    width: 100%;
  }

  .projeto-1 {
    width: 100%;
    background: linear-gradient(to left top, #ff50e4, #8531c6);
  }