/* Importando fontes */
@font-face {
  font-family: "Designer";
  src: url("../assets/fonts/designer/DESIGNER.otf");
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("../assets/fonts/comfortaa/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("../assets/fonts/comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../assets/fonts/comfortaa/Comfortaa-Bold.ttf");
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Corpo do documento */
body {
  background: #03021d;
  overflow-x: hidden;
}

/* Predefinindo estilo do título principal */
h1, h2 {
  font-size: 60px;
  font-family: Designer;
  /* text-transform: uppercase; */
  color: #EDF4FF;
}

h2 {
  font-size: 40px;
}

/* Predefinindo estilo do parágrafo */
p {
  font-family: Comfortaa-Regular;
  line-height: 22px;
  color: #EDF4FF;
}

/* MAIN */
main {
  margin-top: 70px;
  display: grid;
  justify-items: center;
}

/* predefinindo configuração das seções */
section {
  width: 100%;
  padding: 40px;
}

article {
  width: 100%;
}



