/* Importando fontes */
@font-face {
  font-family: "Designer";
  src: url("../assets/fonts/designer/DESIGNER.otf");
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("../assets/fonts/comfortaa/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("../assets/fonts/comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../assets/fonts/comfortaa/Comfortaa-Bold.ttf");
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Corpo do documento */
body {
  background: #03021d;
  overflow-x: hidden;
}

/* Predefinindo estilo do título principal */
h1 {
  font-size: 60px;
  font-family: Designer;
  /* text-transform: uppercase; */
  color: #EDF4FF;
}

/* Predefinindo estilo do parágrafo */
p {
  font-family: Comfortaa-Regular;
  line-height: 22px;
  color: #EDF4FF;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #03021d;
}

/* Animação da borda do header */
@keyframes border-header {
  0% {
    transform: translateX(-100%);
    box-shadow: 0 0 5px #ff1fa7;
  }
  100% {
    transform: translateX(110%);
    box-shadow: 0 0 5px cyan;
  }
}

/* Caixa que vai executar a animação como uma borda falsa */
.box-hidden {
  justify-self: self-start;
  position: absolute;

  height: 95%;
  width: 100%;
  background: #03021d50;
  animation: infinite 3s border-header;
}

/* Container que simula o header */
.header-false {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 95%;
  background: #03021d;
  padding: 0 40px;
}

.header-false h1 {
  font-size: 40px;
}

.header-false nav {
  display: flex;
  align-items: 20px;
  gap: 40px;
}

.header-false nav a {
  font-family: Comfortaa-Light;
  font-size: 14px;
  color: #ffffff99;
  text-decoration: none;
  transition: .3s color;
}

.header-false nav a:hover {
  color: #fffEDF4FF;
  transition: .3s color;
}

/* MAIN */
main {
  display: grid;
  justify-items: center;
}

/* predefinindo configuração das seções */
section {
  width: 100%;
  padding: 40px;
}

article {
  width: 100%;
}


/* Styles do sessão sobre os projetos */
.projeto-1 {
  display: grid;
  justify-items: center;
  width: 100%;
  background: linear-gradient(to left top, #ff50e4, #8531c6);
}

.proj {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.proj .demo {
  display: flex;
  justify-content: end;
  width: 30%;
}

.proj video {
  width: 100%;
  height: 480px;
}

.proj article {
  margin: 10px 0;
}

.proj p {
  text-align: justify;
  width: 80%;
  margin: 10px 0;
}

.proj h2 {
  font-size: 40px;
  font-family: Designer;
  color: #EDF4FF;
}

.proj ul li {
  margin: 0 40px;
  color: #EDF4FF;
}

.logo {
  display: grid;
  justify-items: center;
  width: 100%;
}

.logo .logo-project {
  margin: 20px 0;
}

.sobre-projeto {
  width: 70%;
}

.tecnologias {
  width: 70%;
}

.links {
  width: 30%;
  display: grid;
  gap: 10px;
}

.links a {
  font-family: Comfortaa-Light;
  color: #EDF4FF;
  width: 100%;
}
